/* 
    Responsividade do Bootstrap
    Dica: maior @media por cima
*/
@media (max-width: 992px) {
    .secao-com-texto {
        padding: 153px 25px;
    }

    /* Como coloquei max-width, não é necessário o código abaixo */
    /* .secao-com-texto p,
       .secao-com-texto.onde-estamos p {
        width: 100%;
    } */


}

@media (max-width: 768px) {
    
}

@media (max-width: 720px) {
    .ladrilho .grande,
    .ladrilho .medio {
        width: 100%;
    }
    
    .ladrilho .pequeno,
    .ladrilho .pequeno.grao {
        width: 50%;
    }

}

@media (max-width: 425px) {
    .cabecalho .logo {
        display: block;
        margin: 0 auto;
    }

    .cabecalho nav {
        position: static;
        text-align: center;
        width: 100%;
    }

    .cabecalho nav ul li {
        display: block;
    }

    .cabecalho nav ul li a {
        width: 100%;
        display: block;
    }

    .banner h2 {
        font-size: 2.5rem;
    }

    .secao-com-texto h2 {
        font-size: 3rem;
    }

    .secao-com-texto.onde-estamos p {
        font-size: 2rem;
    }

    /* Poderia colocar mais uma @Media para o valor determinado no figma de 375, entretanto, gostei assim */
    .ladrilho .pequeno,
    .ladrilho .pequeno.grao {
        width: 100%;
    }
    
}
